body{
    margin: 0 auto;
    background: #fff;
   height: 2000px;

}
.container{
    width: 80%;
    margin: 0 auto;
   
}

/** start header **/
.header{
    
    
}
.header .img{
    text-align: center;
    
}
.header .nav{
  overflow: hidden;
  
}
.header .img img{
    width: 100%;
}
.header .nav ul{
    list-style: none;
}
.header .nav li{
float: right;
margin: 10px 10px 5px;
}
.header .nav li:hover a{
    color: rgb(244, 164, 96);;
}
.header .nav h1{
    text-transform: uppercase;
    color: rgb(244, 164, 96);
    float: left;
}
.header .nav span{
    color: rgb(250, 106, 96);
}

.header .nav .home{
    color:rgb(244, 164, 96) ;
}
.header .nav ul a{
    text-decoration: none;
    color: rgb(140, 140, 128);
    cursor: pointer;
    text-transform: uppercase;
}
/** ending heder **/

/** start body 1 **/
.body1{
    margin: 10px 0px ;
}

.sections {
    width: 33%;
    float: right;
    
}
 
.sections .section1 img{
    width: 48%;
    float: left;
    margin-right: 5px;
    margin-bottom: 25px;
    
    
}

.sections .section2 img{
    width: 25%;
    float: left;
    height: 50px;
    margin-top: 15px;
    
}
.sections .section2 p{
    color: rgb(244, 164, 96);
    float: left;
    margin-left: 20px;
    width: 60%;
    
}


.body1 .sections .section3 p{
   
    margin-right: 40px;
    font-size: 30px;
    padding-top: 25px;
    margin-top: 15px;
    color: black;
    text-transform: lowercase;
}
.sections .section3 button{
    background-color: rgb(244, 164, 96);
    color: #fff;
    
    font-size: 18px;
    margin-bottom: 60px;
}

/** end body 1 **/

/** start recent work **/ 


.recentwork p{
    color:rgb(244, 164, 96) ;
    margin: 50ox;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder ;
   
}

.recentwork hr{
    width: 80%;
    float: right;
    height: 18px;
    background-color: gray;
    font-size: 50px;
}
/** end recent work **/

/** start works **/ 
.works .section1 {
    width: 22%;
    float: left;
    border: 1px solid #ddd;
    margin-right: 22px;
    

}
.works .section1 img{
    width: 100%;
    height: 200px;

}
.works .section1 h3{
    color: rgb(75, 39, 39);
    padding-left: 15px;
}
.works .section1 p{
    color: rgb(244, 143, 96) ;
    padding-left: 15px;
}

/** end works  **/


/** start fotter **/
.footer{
    margin-right: -25px;
}
.footer .sections {
    width: 31%;
    float: left;
    background-color: rgb(255, 94, 0);
    margin-top: 50px;
    height: 300px;
    padding-left: 15px;
}   
   
.footer .sections img{
    width: 25px;
    float: left;
    margin-right:10px ;
}
.footer .sections .section4 h3 ,p{
    text-transform: uppercase;
    color: #fff;
}



/** end foter **/